.Auth .toggle{
    display: flex;
    padding: 0 10px 15px 10px;
    background-color: #b7d9f8ff;
}

.Auth .toggle button{
    flex: 1
}

.Auth form{
    padding: 10px 0 0 0 !important;
    background-color: transparent !important;
}

.Auth form .inputs{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    background-color: #b7d9f8ff;
}

.Auth form .inputs .submit{
    margin-top: 10px;
}