.CategoryIndex {
    display: flex;
    flex-direction: column;
    padding: 10px 0 !important;
}

.CategoryIndex>div {
    padding: 10px 20px;
}

.CategoryIndex p {
    font-size: 1.25rem;
}

.CategoryIndex .pick p{
    margin: 10px 0;
}

.CategoryIndex .list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    background-color: #b7d9f8ff;
}