@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=UnifrakturCook:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
}


body {
  height: 100vh;
  width: 100vw;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  padding: 10px;
  margin: 0;
}

h1 {
  font-family: "UnifrakturCook", cursive !important;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
}

.bold {
  font-weight: bold !important;
}