@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=UnifrakturCook:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


body {
  height: 100vh;
  width: 100vw;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "UnifrakturCook", cursive !important;
}

h2,
h3,
h4,
h5,
h6,
button{
  font-family: "Kode Mono", monospace;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: bold !important;  
}

.underline {
  text-decoration: underline !important;
}

.special{
  font-family: "Kode Mono", monospace;
}