.App {
  height: 100vh;
  width: 100vw;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1,
.cursive {
  color: #59a4e8;
  font-family: "UnifrakturMaguntia", cursive !important;
  text-shadow: 2px 2px 3px #00000060;
}

h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Kode Mono", monospace;
}

p {
  font-size: 1.25rem;
}

a,
button,
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
select,
.pointer {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select {
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #b7d9f8ff;
}

form label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  text-shadow: 1px 1px 2px #00000060;
  background-image: url('https://i.imgur.com/hxvRJSA.jpg');
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 3px #00000060;
}

form label.select {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: none;
}

form label.select p {
  flex: 1;
}

form label p {
  margin: 0;
  padding: 10px;
  font-size: 1rem;
  font-family: "Kode Mono", monospace;
  font-weight: 600;
  background-image: linear-gradient(135deg, #455d84ff, #121d2fff);
}

form label input {
  margin: 10px;
  padding: 10px 5px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #838994;
  border-radius: 0;
  background-color: transparent;
}

form label select {
  padding: 5px;
  text-align: center;
  background-image: url('https://i.imgur.com/hxvRJSA.jpg');
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

form input:focus,
form select:focus {
  outline: none;
}

form input::placeholder {
  color: #838994;
  font-style: italic;
}

.options {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.options>input,
.options>button,
.options>a>button {
  flex: 1;
  padding: 5px;
}

.options>a {
  flex: 1;
  display: flex;
}

.clearance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.bold {
  font-weight: bold !important;
}

.italics {
  font-style: italic !important;
}

.underline {
  text-decoration: underline !important;
}

p .cursive {
  font-size: 1.3rem;
}

.mono {
  font-family: "Kode Mono", monospace;
}

input[type="submit"] {
  background-image: linear-gradient(135deg, #62b3ff, #0888ff);
}

.cancel {
  background-image: linear-gradient(135deg, #5976a4, #2d4b7c) !important;
}

.delete {
  background-image: linear-gradient(145deg, #eb4444, #d02828);
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.QuizForm form {
  min-height: calc(100vh - 262px);
  justify-content: flex-start;
}

.QuizForm h2 {
  margin: 0;
  padding: 10px;
}

.QuizForm .form-header {
  display: flex;
  box-shadow: 2px 2px 3px #00000060;
}

.QuizForm .form-header .title {
  width: 70%;
  margin: 0;
  padding: 10px;
  background-image: linear-gradient(135deg, #455d84ff, #121d2fff);
}

.QuizForm .form-header .title input {
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #fff;
  background: none;
  padding-left: 0;
}

.QuizForm .form-header .title input::placeholder {
  color: #fff;
}

.QuizForm .form-header select {
  flex: 1;
  padding: 10px;
  background-image: url('https://i.imgur.com/hxvRJSA.jpg');
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.QuizForm .form-header .new-category {
  display: flex;
}

.QuizForm .form-header .new-category {
  background-image: url('https://i.imgur.com/hxvRJSA.jpg');
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
}

.QuizForm .form-header .new-category input,
.QuizForm .form-header .new-category button {
  background: none;
  box-shadow: none;
}

.QuizForm .form-header .new-category input {
  margin: 0 0 10px 10px;
  padding: 15px 10px 5px 0;
  border: none;
  border-bottom: 2px solid #2c3d5a;
}

.QuizForm .form-header .new-category button {
  color: #d02828;
  text-shadow: none;
}

.QuizForm .disclaimer p {
  margin: 10px;
  color: #2c3d5a;
  font-size: .6rem;
}

.QuizForm .questions{
  display: flex;
  flex-direction: column;
}

.QuizForm .add-question{
  margin: 10px 0;
  display: flex;
  gap: 10px;
}

.QuizForm .add-question button {
  flex: 1;
  min-height: 45px;
  font-size: .9rem;
}

.QuizForm .add-question .delete {
  flex: none;
  padding: 0 10px;
}

.FormQuestion{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.FormQuestion .number{
  display: flex;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(135deg, #455d84ff, #121d2fff);
}

.FormQuestion .number h3{
  flex: 1;
  margin: 0;
}

.FormQuestion .submit{
  flex: 1;
}


@keyframes hover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes hover-diag {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-5px, -5px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes quarter-glow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 25%;
  }
}