.App{
  height: 100vh;
  width: 100vw;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1,
.cursive {
  color: #59a4e8;
  font-family: "UnifrakturMaguntia", cursive !important;
  text-shadow: 2px 2px 3px #00000060;
}

h2,
h3,
h4,
h5,
h6,
button{
  font-family: "Kode Mono", monospace;
}

p{
  font-size: 1.25rem;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: bold !important;  
}

.underline {
  text-decoration: underline !important;
}

p .cursive{
  font-size: 1.3rem;
}

.mono{
  font-family: "Kode Mono", monospace;
}

@keyframes hover {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-5px);
  }
}

@keyframes hover-diag {
  0%{
      transform: translate(0,0);
    }
    100%{
      transform: translate(-5px,-5px);
    }
  }

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes quarter-glow{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 25%;
  }
}