.App{
  height: 100vh;
  width: 100vw;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1,
.cursive {
  color: #59a4e8;
  font-family: "UnifrakturMaguntia", cursive !important;
  text-shadow: 2px 2px 3px #00000060;
}

h2,
h3,
h4,
h5,
h6,
button{
  font-family: "Kode Mono", monospace;
}

p{
  font-size: 1.25rem;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select{
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #b7d9f8ff;
}

form label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  text-shadow: 1px 1px 2px #00000060;
  background-image: linear-gradient(135deg, #fff, #cfe8ff);  border: none;
  box-shadow: 2px 2px 3px #00000060;
}

form label.select {
  display: flex;
  flex-direction: row;
  background-color: none;
}

form label p{
  flex: 1;
  margin: 0;
  padding: 10px;
  font-size: 1rem;
  font-family: "Kode Mono", monospace;
  font-weight: 600;
  background-image: linear-gradient(135deg, #455d84ff, #121d2fff);
}

form label input{
  flex: 1;
  margin: 10px;
  padding: 10px 5px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #838994;
  border-radius: 0;
  background-color: transparent;
}

form label select{
  padding: 5px;
  background-image: linear-gradient(135deg, #fff, #cfe8ff);  border: none;
  border: none;
}

form input:focus{
  outline: none;
}

form input::placeholder{
  color: #838994;
  font-style: italic;
}

.bold {
  font-weight: bold !important;  
}

.underline {
  text-decoration: underline !important;
}

p .cursive{
  font-size: 1.3rem;
}

.mono{
  font-family: "Kode Mono", monospace;
}

.submit{
  background-image: linear-gradient(135deg, #62b3ff, #0888ff);
}

.cancel{
  background-image: linear-gradient(135deg, #5976a4, #2d4b7c) !important;
}

.delete{
  background-image: linear-gradient(145deg, #eb4444, #d02828);
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@keyframes hover {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-5px);
  }
}

@keyframes hover-diag {
  0%{
      transform: translate(0,0);
    }
    100%{
      transform: translate(-5px,-5px);
    }
  }

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes quarter-glow{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 25%;
  }
}