.Home {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0 !important;
}

.Home>div {
    padding: 10px 20px;
}

.Home p {
    font-size: 1.25rem;
}

.Home .image {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1;
    justify-content: center;
    justify-items: flex-end;
    align-items: center;
    padding: 0 !important;
}

.Home .image img {
    width: 100%;
    height: 200px;
    grid-column: 1 /span 5;
    grid-row: 1 / span 1;
    object-fit: cover;
}

.Home .image .approach {
    width: 0;
    height: 82px;
    grid-column: 3 /span 3;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #59a4e8;
    box-shadow: 2px 2px 3px #00000060;
    overflow-x: hidden;
    animation: approach-in .3s .25s ease-in forwards;
}

.Home .image .approach h2 {
    margin: 0;
    color: transparent;
    font-size: 1.5rem;
    font-style: italic;
    text-shadow: none;
    animation: approach-text-in .25s .65s ease-in forwards;
}

.Home .hardest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b7d9f8ff;
    padding-bottom: 20px;
}

.Home .hardest>h3 {
    flex: 1;
    margin: 5px 0 20px 0;
    color: #2c3d5a;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 2px #00000060;
    border-bottom: 3px solid #2c3d5a;
}

.Home .hardest .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@keyframes approach-in {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
        padding: 10px 20px;
    }
}

@keyframes approach-text-in {
    0% {
        display: block;
        color: transparent;
        text-shadow: none;
    }

    100% {
        display: block;
        color: #fff;
        text-shadow: 2px 2px 3px #00000060;
    }
}