.Home {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.Home>div {
    padding: 10px;
}

.Home p {
    font-size: 1.25rem;
}

.Home .image {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.Home .image img {
    width: 100%;
    height: 200px;
    grid-column: 1 /span 5;
    grid-row: 1 / span 1;
    object-fit: cover;
}

.Home .image h2 {
    grid-column: 3 /span 3;
    grid-row: 1 / span 1;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-style: italic;
    text-shadow: 2px 2px 3px #00000060;
    background-color: #59a4e8;
    box-shadow: 2px 2px 3px #00000060;
}

.Home .hardest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b7d9f8ff;
    padding-bottom: 20px;
}

.Home .hardest>h3 {
    flex: 1;
    color: #2c3d5a;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    margin: 5px 0 20px 0;
    border-bottom: 3px solid #2c3d5a;
}

.Home .hardest .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}