.Home {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.Home>div {
    padding: 10px 20px;
}

.Home p {
    font-size: 1.25rem;
}

.Home .hardest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b7d9f8ff;
    padding-bottom: 20px;
}

.Home .hardest>h3 {
    flex: 1;
    margin: 5px 0 20px 0;
    color: #2c3d5a;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 2px #00000060;
    border-bottom: 3px solid #2c3d5a;
}