main {
    width: 100%;
    overflow-y: scroll;
}

main>div {
    width: 100%;
    min-height: calc(100vh - 212px);
}

main button,
.submit,
input[type="submit"] {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
    font-family: "Kode Mono", monospace;
    text-shadow: 1px 1px 2px #00000060;
    border: none;
    box-shadow: 2px 2px 3px #00000060;
    cursor: pointer;
}

main button{
    background-image: linear-gradient(135deg, #59a4e8, #297cc9);
}

main button:active {
    transform: translate(2,2);
}