main {
    width: 100%;
    overflow-y: scroll;
}

main>div {
    width: 100%;
    min-height: calc(100vh - 190px);
}

main button {
    padding: 5px 10px;
    font-size: 1.25rem;
    background-color: #59a4e8;
    border: none;
    text-shadow: 1px 1px 2px #00000060;
}

main button:hover {
    text-shadow: 2px 2px 2px #00000060;
}