.QuizShow .intro {
    padding: 10px;
}

.QuizShow .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-image: url('https://i.imgur.com/hxvRJSA.jpg');
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 3px #00000060;
}

.QuizShow .title h2 {
    margin: 0;
    font-size: 2.25rem;
    color: #2c3d5a;
    text-shadow: 2px 2px 3px #00000060;
}

.QuizShow .title p,
.QuizShow .title p span {
    margin: 0;
    font-size: 1rem;
    color: #2c3d5a;
}

.QuizShow .challengers p {
    margin: 10px 0 0 0;
    font-size: 1rem;
}

.QuizShow .clearance{
    margin: 10px 0;
}

.QuizShow .confirm{
    display: flex;
    flex-direction: column;
    padding: 10px;
}