.CategoryEdit {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.CategoryEdit .options{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.CategoryEdit .options > input,
.CategoryEdit .options > button{
    flex: 1;
    padding: 5px;
}