.CategoryShow {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.CategoryShow div{
    padding: 10px 20px;
}

.CategoryShow .clearance{
    padding: 10px;
    background-color: #b7d9f8ff;
}

.CategoryShow .options button{
    font-size: 1rem;
}

.CategoryShow .list{
    padding: 20px;
    background-color: #b7d9f8ff;
}