.CategoryShow {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.CategoryShow div{
    padding: 10px;
}

.CategoryShow .options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #00000060;
}