header {
    padding: 10px 10px 0 10px;
}

header a{
    text-decoration: none;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

header .logo img{
    width: 60px;
    -webkit-filter: invert(100%) drop-shadow(2px 2px 3px #00000060);
    filter: invert(100%) drop-shadow(2px 2px 3px #00000060);
}

header .logo h1{
    margin: 0;
    font-size: 2.9rem;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
}

nav .pages{
    display: flex;
    gap: 5px;
}

nav .pages button,
nav button.auth{
    color: #fff;
    text-shadow: 2px 2px 3px #00000060;
    background: transparent;
    border: none;
}

nav .pages button.current-page,
nav button.auth{
    color: #59a4e8 !important;
}